.board{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    
}
.dnd-item{
    text-align: center;
    height: 100px;
    width: 200px;
    background-color: blue;
    color: white;
    margin: 20px;

}